<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pengolahan Citra Digital</title>
    <link
      rel="stylesheet"
      href="http://127.0.0.1:5500/tubes-gpt/public/index.css"
    />
  </head>
  <body>
    <h1>Pengolahan Citra Digital</h1>
    <h2>Pilihan Pengolahan</h2>

    <div id="image-processing-options">
      <button onclick="showForm('addition')" value="addition">
        Penjumlahan 2 Citra
      </button>
      <button onclick="showForm('subtraction')" value="subtraction">
        Pengurangan 2 Citra
      </button>
      <button onclick="showForm('addition-constant')" value="addition-constant">
        Penjumlahan Citra dengan Konstanta
      </button>
      <button
        onclick="showForm('subtraction-constant')"
        value="subtraction-constant"
      >
        Pengurangan Citra dengan Konstanta
      </button>
      <button onclick="showForm('multiplication')" value="multiplication">
        Perkalian 2 Citra
      </button>
      <button onclick="showForm('image-blending')" value="image-blending">
        Image Blending
      </button>
    </div>

    <form
      action="/result"
      method="POST"
      enctype="multipart/form-data"
      id="image-upload-form"
      style="display: none"
    >
      <!-- Input untuk mengunggah gambar pertama -->
      <div id="image1-upload" style="display: none">
        <label for="file1">Gambar Pertama:</label>
        <input
          type="file"
          name="file1"
          onsubmit="handleImage('image1')"
          accept="image/*"
          id="file1"
          required
        />
      </div>

      <!-- Input untuk mengunggah gambar kedua (hanya untuk operasi yang memerlukan dua gambar) -->
      <div id="image2-upload" style="display: none">
        <label for="file2">Gambar Kedua:</label>
        <input type="file" name="file2" accept="image/*" id="file2" required />
      </div>

      <!-- Input untuk konstanta (hanya untuk operasi yang memerlukan konstanta) -->
      <div id="constant-input" style="display: none">
        <label for="constant-value">Konstanta:</label>
        <input
          type="text"
          id="constant-value"
          name="constant-value"
          pattern="[0-9]+(\.[0-9]+)?"
          title="Masukkan angka atau angka bulat"
          required
        />
      </div>

      <!-- Input untuk alpha (hanya untuk operasi Image Blending) -->
      <div id="alpha-input" style="display: none">
        <label for="alpha">Alpha (0-1):</label>
        <input
          type="text"
          id="alpha"
          name="alpha"
          pattern="[0-9]+(\.[0-9]+)?"
          title="Masukkan angka atau angka desimal antara 0 dan 1"
          required
        />
      </div>

      <!-- Input untuk beta (hanya untuk operasi Image Blending) -->
      <div id="beta-input" style="display: none">
        <label for="beta">Beta (0-1):</label>
        <input
          type="text"
          id="beta"
          name="beta"
          pattern="[0-9]+(\.[0-9]+)?"
          title="Masukkan angka atau angka desimal antara 0 dan 1"
          required
        />
      </div>
    </form>

    <br />
    <img id="image1" src="/" alt="Image 1" />
    <img id="image2" src="/" alt="Image 2" />
    <br /><br />

    <div id="addition-btn" style="display: none">
      <button onclick="performOperation('addition')">
        Penjumlahan 2 Citra
      </button>
    </div>
    <div id="subtraction-btn" style="display: none">
      <button onclick="performOperation('subtraction')">
        Pengurangan 2 Citra
      </button>
    </div>
    <div id="addition-constant-btn" style="display: none">
      <button onclick="performOperation('addition-constant')">
        Penjumlahan Citra dengan Konstanta
      </button>
    </div>
    <div id="subtraction-constant-btn" style="display: none">
      <button onclick="performOperation('subtraction-constant')">
        Pengurangan Citra dengan Konstanta
      </button>
    </div>
    <div id="multiplication-btn" style="display: none">
      <button onclick="performOperation('multiplication')">
        Perkalian Citra
      </button>
    </div>
    <div id="image-blending-btn" style="display: none">
      <button onclick="performOperation('image-blending')">
        Image Blending
      </button>
    </div>

    <script>
      function showForm(selectedOperation) {
        // Menampilkan elemen input yang sesuai berdasarkan operasi yang dipilih
        document.getElementById("addition-btn").style.display = "none";
        document.getElementById("subtraction-btn").style.display = "none";
        document.getElementById("addition-constant-btn").style.display = "none";
        document.getElementById("subtraction-constant-btn").style.display =
          "none";
        document.getElementById("multiplication-btn").style.display = "none";
        document.getElementById("image-blending-btn").style.display = "none";

        document.getElementById("image-upload-form").style.display = "block";
        document.getElementById("image1-upload").style.display = "block";

        document.getElementById(`${selectedOperation}-btn`).style.display =
          "block";

        if (
          selectedOperation === "addition" ||
          selectedOperation === "subtraction" ||
          selectedOperation === "multiplication"
        ) {
          document.getElementById("image2-upload").style.display = "block";
          document.getElementById("constant-input").style.display = "none";
          document.getElementById("alpha-input").style.display = "none";
          document.getElementById("beta-input").style.display = "none";
          document.getElementById("constant-value").removeAttribute("required");
          document.getElementById("alpha").removeAttribute("required");
          document.getElementById("beta").removeAttribute("required");
        } else if (
          selectedOperation === "addition-constant" ||
          selectedOperation === "subtraction-constant"
        ) {
          document.getElementById("image2-upload").style.display = "none";
          document.getElementById("constant-input").style.display = "block";
          document.getElementById("alpha-input").style.display = "none";
          document.getElementById("beta-input").style.display = "none";
          document.getElementById("file2").removeAttribute("required");
          document.getElementById("alpha").removeAttribute("required");
          document.getElementById("beta").removeAttribute("required");
        } else if (selectedOperation === "image-blending") {
          document.getElementById("image2-upload").style.display = "block";
          document.getElementById("constant-input").style.display = "none";
          document.getElementById("alpha-input").style.display = "block";
          document.getElementById("beta-input").style.display = "block";
          document.getElementById("constant-value").removeAttribute("required");
        }
      }

      // menampilkan gambar 1
      document.getElementById("file1").addEventListener("change", function () {
        const fileInput = this;
        const image1 = document.getElementById("image1");

        const file = fileInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            const imageDataUrl = e.target.result;
            image1.src = imageDataUrl;
          };
          reader.readAsDataURL(file);
        } else {
          image1.src = "";
        }
      });

      // menampilkan gambar 2
      document.getElementById("file2").addEventListener("change", function () {
        const fileInput = this;
        const image2 = document.getElementById("image2");

        const file = fileInput.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
            const imageDataUrl = e.target.result;
            image2.src = imageDataUrl;
          };
          reader.readAsDataURL(file);
        } else {
          image2.src = "";
        }
      });

      function performOperation(operation) {
        // Mengirim jenis operasi ke server
        const form = document.getElementById("image-upload-form");
        const input = document.createElement("input");
        input.type = "hidden";
        input.name = "operation";
        input.value = operation;
        form.appendChild(input);
        form.submit();
      }
    </script>
  </body>
</html>
