<div id="constant-input">
  <label for="constant-value"
    >Masukkan Nilai Konstanta (optional | default 0) :</label
  >
  <input
    type="text"
    id="constant-value"
    name="constant-value"
    pattern="[0-9]+(\.[0-9]+)?"
    title="Masukkan angka atau angka bulat"
    required
  /><br /><br />

  <label for="alpha">Masukkan Nilai Alpha (optional | default 0) :</label>
  <input
    type="text"
    id="alpha"
    name="alpha"
    pattern="[0-9]+(\.[0-9]+)?"
    title="Masukkan angka atau angka desimal"
    required
  /><br /><br />

  <label for="beta">Masukkan Nilai Beta (optional | default 0) :</label>
  <input
    type="text"
    id="beta"
    name="beta"
    pattern="[0-9]+(\.[0-9]+)?"
    title="Masukkan angka atau angka desimal"
    required
  /><br /><br />
</div>
